@font-face {
    font-family: LibreBaskerville;
    src: url("../fonts/LibreBaskerville-VariableFont_wght.ttf");
}

* {
    margin: 0;
}

p, a, h1, h2 b, label, button, input {
    font-family: LibreBaskerville;
}

body {
    background-color: skyblue;
}

.photo-list-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.single-photo-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #fff;
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
    border-radius: 16px;
}

.single-photo-container:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}


.single-photo-container:nth-child(n+2),
.single-photo-container:nth-child(n+3){
    grid-column: span 2;
}

.single-photo-container:nth-child(n+4),
.single-photo-container:nth-child(n+5){
    grid-column: span 3;
}

.photo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-time-photographe {
    width: fit-content;
}

@media screen and (max-width: 650px){
    .photo-list-container{
        display: block;
    }
    .single-photo-container{
        margin-bottom: 1rem;
    }
}